body, html {
    margin: 0;
    padding: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #111;
}

video, canvas, #notice {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
}

video {
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

canvas {
    z-index: 10;
}

nav {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
}

button {
    display: block;
    margin: .5em 1em;
    width: 4em;
    height: 4em;
    border: none;
    border-radius: 2em;
    background: rgba(0, 0, 0, .54);
    color: white;
    outline: none;
    opacity: .54;
    transition: opacity .2s ease;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

button .material-icons {
    display: inline-block;
    vertical-align: middle;
}

button:hover, button.active {
    opacity: 1;
}

#notice {
    background: rgba(0, 0, 0, .1);
    color: white;
    z-index: 1000;
    text-align: center;
    line-height: 90vh;
}
